<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    
    <link class="ui" rel="stylesheet" type="text/css" class="ui" href="/static/semantic/css/semantic.min.css">
    <link rel="stylesheet" type="text/css" class="ui" href="/static/semantic/css/semantic.css">
    <script src="/static/semantic/javascript/semantic.min.js"></script>
    <script src="/static/semantic/javascript/semantic.js"></script>

    {% block head %}
      <title>EVE Comptroller: {{ context.title }}</title>
    {% endblock %}
  </head>
  <body>
	{% block content %}
	{% endblock %}
  </body>
</html>